/* CSS */

.MainHeading {
    color: #f9f3f4;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    line-height: 0.4em;
  }
  
  h1 {
    font-size: 50px;
    font-family: "Segoe UI";
  }
  
  h2 {
    font-size: 25px;
    font-family: "Roboto";
  }
  
  #typing-effect {
    display: inline-block;
  }
  
  #typing-effect::after {
    content: "|";
    margin-left: 2px;
    opacity: 1;
    animation: blink-caret 0.75s infinite;
    color: #fff; /* Cursor color - set to white (#fff) for black background */
  }
  
  @keyframes blink-caret {
    from, to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  #particles-js {
    background-image: url('image1.jpg');
    height: 100vh;
  }
  